.env
Surtiflora_Procesado 2024.xlsx
limpiar_excels_before.py
*Procesado.xlsx
*Procesado_2022.xlsx
*Procesado_2023.xlsx
*Procesado_2024.xlsx
*Surtiflora-LibroAuxiliar_2024_Procesado.csv
*Surtiflora-LibroAuxiliar_2023_Procesado.csv
*Surtiflora-LibroAuxiliar_2022_Procesado.csv
*SurtifloraModeloCausacionAbril2025.xlsx
*onboarding_surtiflora.log

.~lock.*.xlsx

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

reporte_onboarding.json

.vscode/settings.json
.vscode/settings.json
