bcrypt
openpyxl
pandas
python-dotenv
pymongo[aws]
argon2-cffi
pytest
dotenv
pytest-cov
pytest-sugar
pytest-verbose-parametrize
coverage 
beanie
motor
pytest-asyncio>=0.23.0
pydantic
pydantic[email]
pdfplumber
pdfquery